* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-family: "Bebas Neue";
    font-size: 60px;
    color: #66FF99;
    margin-bottom: 10px;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
    font-family: "Intel One Mono";
    color: #CCCCCC;
}


.intel-one-mono-400 {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.menu {
    list-style: none;
    display: flex;   
    gap: 20px;        
}

.menu li a {
    text-decoration: none; 
    color: #66FF99;          
    font-weight: bold;     
    font-family: "Bebas Neue";
    font-size: 25px;
}

.hamburguesa {
    display: none; 
    font-size: 20px;
    cursor: pointer; 
    color: #66FF99;
    font-family: "Bebas Neue";
}

@media (max-width: 768px) { 
    .menu {
        display: none; 
        flex-direction: column; 
        width: 100%; 
    }

    .menu.active {
        display: flex; 
    }

    .hamburguesa {
        display: block; 
    }
}

.btn-linkedin {
    display: inline-block;
    padding: 10px;
    background-color: #00BFFF;
    font-family: "Intel One Mono";
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-linkedin:hover {
    background-color:#084a94;
}

.btn-github {
    display: inline-block;
    padding: 10px;
    background-color: #9D4EDD;
    font-family: "Intel One Mono";
    color: white;    
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
    margin: 10px;
}


.btn-github:hover {
    background-color:#544173;
}

#sobremi {
    padding: 10px;
    margin: 10px;
}

#proyectos {
    padding: 10px;
    margin: 10px;
}

#contacto {
    padding: 10px;
    margin: 10px;
}

.cards-container {
  display: flex;               
  justify-content: space-evenly;     
  gap: 20px;                   
  flex-wrap: wrap;             
  margin-top: 20px;
}

h5 {
    color: #CCCCCC;
}
