* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: #0D0D0D;
}

h1 {
    font-family: 'Inter';
    font-size: 45px;
    color: #3DDC97;
    margin-bottom: 20px;
}

#titulo {
  min-height: 2.5em; 
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background: #3DDC97;
  animation: blink 0.7s steps(1) infinite;
  vertical-align: bottom;
}

@keyframes blink {
  50% { background: transparent; }
}

h2 {
    font-family: 'Inter';
    font-size: 30px;
    color: #3DDC97;
    margin-bottom: 20px;
}

.bebas-neue-regular {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: 'Inter';
  color: #E0E0E0;
  font-size: 17px;
  line-height: 1.6; 
}

.intel-one-mono-400 {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 40px;
}

.menu {
    list-style: none;
    display: flex;   
    gap: 20px;        
}

.menu li a {
    text-decoration: none; 
    color: #3DDC97;          
    font-weight: bold;     
    font-family: 'Inter';
    font-size: 15px;
}

.menu li a:hover {
    color:#1b7f3c
}

.hamburguesa {
    display: none; 
    font-size: 20px;
    cursor: pointer; 
    color: #3DDC97;
    font-family: "Bebas Neue";
}

@media (max-width: 768px) { 
    .menu {
        display: none; 
        flex-direction: column; 
        width: 100%; 
        margin-left: 20px; 
    }

    .menu.active {
        display: flex; 
    }

    .hamburguesa {
        display: block; 
    }
}

.btn-linkedin {
  display: inline-block;
  padding: 12px 18px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  font-size: 0.95rem;
  margin-top: 20px;
  margin-right: 5px;

  background: rgba(0, 119, 181, 0.3); 
  border: 1px solid rgba(0, 119, 181, 0.9);
  color: #00A0DC; 
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

.btn-linkedin:hover {
  background: rgba(0, 119, 181, 0.6);
  color: #FFFFFF;
  border-color: #00A0DC;
}

.btn-github {
  display: inline-block;
  padding: 12px 18px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  font-size: 0.95rem;
  margin-top: 20px;

  background: rgba(139, 92, 246, 0.3); 
  border: 1px solid rgba(139, 92, 246, 0.9);
  color: #8B5CF6; 
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

.btn-github:hover {
  background: rgba(139, 92, 246, 0.6);
  color: #FFFFFF;
  border-color: #8B5CF6;
}

section {
  padding: 60px 10vw;
}

.cards-container {
  display: flex;               
  justify-content: center;  
  align-items: flex-start;   
  gap: 40px;             
  flex-wrap: wrap;             
  margin-top: 40px;
}

h5 {
    color: #E0E0E0;
    font-size: 1.3rem;
    margin: 15px 0;
    font-family: 'Inter';
}

.card {
  background-color: #161b22; 
  border-radius: 15px;
  padding: 20px;
  width: 48%;
  max-width: 600px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}

@media (max-width: 1024px) {
  .card {
    width: 48%; 
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%; 
  }
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.5);
}

.card-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
  max-height: 300px;
  object-fit: cover;
}

.card-btn {
  display: inline-block;
  padding: 12px 18px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  margin: 10px 5px;
  font-size: 0.95rem;
  
  background: rgba(30, 144, 255, 0.2);
  border: 1px solid rgba(30, 144, 255, 0.6);
  color: #1E90FF;
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

.card-btn:hover {
  background: rgba(30, 144, 255, 0.4);
  color: #E0E0E0;
  border-color: #1E90FF;
}

#contacto h2 {
  align-self: flex-start;
  margin-bottom: 20px;    
}

#contacto {
  display: flex;
  justify-content: center; 
  align-items: center;     
  flex-direction: column;  
}

.contact-form {
  display: flex;
  background: #0D0D0D;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  flex-direction: column;
  gap: 10px;
}

.form-item {
  margin-bottom: 10px;
}

.form-item input,
.form-item textarea {
  width: 100%;
  padding: .8rem;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #161b22;
  color: #E0E0E0;
  font-weight: 80;
}

.form-item textarea {
  resize: vertical;
  min-height: 120px;
  font-family: 'Inter';
}

.contact-form button {
  align-self: flex-end;
  padding: .9rem;  background: rgba(30, 144, 255, 0.2);
  border: 1px solid rgba(30, 144, 255, 0.6);
  color: #1E90FF;
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
  font-size: 0.95rem;
}

.contact-form button:hover {
  background: rgba(30, 144, 255, 0.4);
  color: #E0E0E0;
  border-color: #1E90FF;    
}

.form-description {
    font-family: 'Inter';
    font-size: 16px;  
    color: #E0E0E0;
    margin-bottom: 20px; 
    text-align: left;     
}

footer p {
  font-family: 'Inter';
  font-size: 15px;
}